<html>
<style type="text/css">
#ProfilePage
{
    margin: 50px auto;
    width: 635px;

border: 1px solid red;
}

#LeftCol
{
    /* Move it to the left */
    float: left;

    width: 200px;
    text-align: center;

    /* Move it away from the content */
    margin-right: 20px;

border: 1px solid brown;
}



#Info
{
    width: 400px;
    text-align: center;

    /* Move it to the right */
    float: right;

/* For visibility. Delete me */
border: 1px solid blue;
}

#Info strong
{
    /* Give it a width */
    display: inline-block;
    width: 100px;

/* For visibility. Delete me */
border: 1px solid orange;
}

#Info span
{
    /* Give it a width */
    display: inline-block;
    width: 250px;

/* For visibility. Delete me */
border: 1px solid purple;
}
</style>
<% if (req.user) { %>

<div id="ProfilePage">
    <div id="LeftCol">
        <div id="Photo"></div>
    </div>

    <div id="Info">
        <p>
            <strong>Name:</strong>
            <span><%= req.user.username %></span>
        </p>
        <p>
            <strong>Name:</strong>
            <span><%= req.user.email %></span>
        </p>
        <p>
            <strong>Name:</strong>
            <span><%= req.user.name %><</span>
        </p>
        <p>
            <strong>Name:</strong>
            <span><%= req.user.surname %></span>
        </p>
        <p>
            <strong>Name:</strong>
            <span><%= req.user.password %></span>
        </p>
        <p>
          <strong>ID:</strong>
          <span><%= req.user.id %></span>
    </div>
    <!-- Needed because other elements inside ProfilePage have floats -->
    <div style="clear:both"></div>
</div>
<% } %>

</html>
